.flex-container{
    display: flex;
    border: 2px solid #dddddd;
    padding: 20px;
    margin: 20px;
    gap: 20px 10px;
}

.flex-item{
    width: 100px;
    height: 100px;
    background-color: #4488ff;
}

.column{
    flex-direction: column;
}

.justify-start{
    justify-content: flex-start;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

.align-start{
    align-items: flex-start;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.flex-3{
    flex: 3;
}

.wrap{
    flex-wrap: wrap;
}